<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8W73VYNJNX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8W73VYNJNX');
  </script>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ if and .IsHome (.Site.Params.maintenance.enabled) }}
    {{ partial "maintenance.html" . }}
  {{ else }}
    {{ block "main" . }}{{ end }}
  {{ end }}
  {{ partial "footer.html" . }}
</body>
</html>
